@import url("../../root.css");
.mini-cart {
  min-width: 175px;
  max-width: 250px;
  position: absolute;
  top: 2rem;
  right : 0.25rem;
  z-index: 999;
  background-color: white;


}
.mini-cart__header {
    font-size: clamp(0.25rem, 4vw, 0.75rem);
    text-transform: capitalize;
    font-weight: 200;
    margin-left : 0.5rem;
}
.mini-cart__header span {
 font-weight: 700;
}

.mini-cart__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  max-height: 250px;
  overflow: auto;
  padding: 0.5rem;


   
  
}
.mini-cart__gallery{
    display: flex;
    gap: 0.5rem;
}
