@import url("../../root.css");
.color-box__container {
  display: flex;
  flex: 1;
}
.color-box__label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  flex: 1;
  height: clamp(0.3rem, 7.5vh, 2rem);
}
.color-box__container input + .color-box__label label:hover {
  cursor: pointer;
}

.color-box__container input {
  display: hidden;
  width: 1px;
  height: 1px;
}
.color-box__label label {
  width: 100%;
  height: 100%;
  text-align: center;
}
.color-box__container input:checked + .color-box__label label {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 0px 2px #ffffff,
    0px 0px 0px 4px rgba(0, 255, 70, 0.75);
  box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px rgb(212, 106, 19);
}
