@import url("../../root.css");
.product__container{
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-2);
    border-radius: var(--borderRadius);
    transition: all 0.5s ease;
    font-family: var(--body-font);
    
}
.product__container--faded{
    opacity : 0.7;
}
.product__image__overlay {
    grid-area : 1/1;
    text-align: center;
    z-index: 100;
    color: var(--grey-400);
    font-weight: 400;
    text-transform: uppercase;
    place-self: center center;  

}
.product__image__overlay--hidden {
    display: none;
}

.product__image__grid{
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr;
    
}
.product__image__container{
    max-height: 250px;
    grid-area : 1/1;

}

img{
    object-fit: scale-down;
    width: 100%;
    max-height: 100%;
    grid-area: 1/1;

}
.product__text__container{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}
.product__text--muted{
    color: var(--grey-400);
    font-weight: 100;
    margin: 0 0.25rem 0.25rem 0;
}
p{
    margin: 0;
    padding-left: 0.25rem;
    padding-bottom: 0.25rem;
}
.product__container:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: var(--shadow-4);
}