.nav {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin: 1rem 0 1rem 0;
}
.nav__category-items ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.nav__category-items ul button {
  display: block;
  background: none;
  border: none;
  text-transform: uppercase;
  font-family: var(--heading-font);
  padding: 0.75rem;
  color: var(--grey-600);
}

.nav__category-items ul button:hover {
  cursor: pointer;
}
.nav__category-items--clicked{
  color: var(--green-400) !important;
  border-bottom: solid 2px var(--green-400) !important;
}
.nav__logo__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.nav__logo__container div {
  width: 25px;
  height: 25px;
  background-color: var(--green-400);
  -webkit-mask: url("../../assets/bag-shopping-solid.svg") no-repeat center;
  mask: url("../../assets/bag-shopping-solid.svg") no-repeat center;
}
.nav__purchase-section{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.nav__purchase-section__currency{
    position: relative;
    display: flex;
    align-items: center;
    min-width : 4rem;   

}
.nav__purchase-section__currency__dropdown{
    position: absolute;
    height: 0;
    display: none;
    min-width: 4rem;
    margin: 0;
    padding: 10px 5px 10px 5px;
    top: 10px;
    left :0;
    list-style:none;
    z-index: 100;
}
.nav__purchase-section__currency:hover .nav__purchase-section__currency__dropdown{
    display: block !important;
    height: auto;
}
.nav__purchase-section__currency__dropdown li{
  padding : 10px 0 10px 0;
}
.nav__purchase-section__currency__dropdown li:hover{
    color: var(--green-400) !important;
  border-bottom: solid 2px var(--green-400) !important;
}
.nav__purchase-section__currency__chevron{
  
  margin: 0 1rem 0 0.5rem;  
  width: 10px;
  height: 10px;
  background-color: black;
  -webkit-mask: url("../../assets/chevron-down-solid.svg") no-repeat center;
  mask: url("../../assets/chevron-down-solid.svg") no-repeat center;
}

.nav__purchase-section__cart{
  width: 25px;
  height: 25px;
  background-color: black;
  -webkit-mask: url("../../assets/cart-shopping-solid.svg") no-repeat center;
  mask: url("../../assets/bag-shopping-solid.svg") no-repeat center;
}
.nav__purchase-section__currency:hover, .nav__purchase-section__cart:hover{
    cursor: pointer;
} 